<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Course Details</title>
</head>
<body>
    <h1>Select Course for Student Details</h1>
    <form action="" method="post">
        {% csrf_token %}
    <select name="course" id="">
        <option value="">select Course</option>
        {% for course in courses %}
        <option value="{{course.id}}">{{course.name}}</option>
        {% endfor %}
    </select>
    <input type="submit" name="" id="">
</form>
<br>
    <h2>Students are:</h2>
    <table>
        <tr>
            <td>S.No</td>
            <td>Name</td>
        </tr>
        {% for stu in all_stu %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{stu.name}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>